#canvas-container {
    width: 100vw;
    height: 100vh;
    background-color: #010101;
  }
.loding{
   position: absolute;
   text-align: center;
   color: white;
   font-size: 20px;
   left: calc(50% - 10px);
}